body {
    background-color: #141414;
    font-family: 'Helvetica';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #d9d9f7;
    margin: 2% 5%;
    padding: 0;
}

h2 {
    color: #9a9aeb;
    font-size: 3em;
    margin: 0;
    padding: 0;
}

.header-right {
    text-align: right;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

#navbar img {
    width: 56px;
    height: 56px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 4px;
    left: 4px;
}

#spacer {
    flex-grow: 1;
}

#navbar li {
    float: right;
    font-size: 1.4em;
}

#navbar li a {
    display: block;
    color: #d9d9f7;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
}

#navbar li a:hover {
    color: #9CC948;
    cursor: pointer;
}

#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 60px 0;
}

.about-column h1 {
    font-size: 3em;
    font-weight: 400;
    margin: auto;
    color: #d9d9f7;
}

.about-column p {
    font-weight: 300;
    margin: auto;
}

.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-bottom: 60px;
}

.skills-item h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
    margin: auto;
    height: 60px;
    color: #9a9aeb
}

.skills-item img {
    width: 40%;
    height: 40%;
    display: block;
    overflow: hidden;
    margin: auto;
    padding-bottom: 6px;
}

/* for medium sized screens */
@media only screen and (max-width: 1100px) {
    .skills-container {
        grid-template-columns: 1fr 1fr;
    }
}

/* for small screens (including phone) */
@media only screen and (max-width: 600px) {
    .skills-container {
        grid-template-columns: 1fr;
    }
}

.work-item-right {
    padding: 40px 0;
}

.work-image-right {
    width: 50%;
    margin-right: auto;
}

.work-image-right img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    overflow: hidden;
}

.work-text-right {
    text-align: right;
    position: absolute;
    right: 5%;
    top: inherit;
    margin-left: 40%;
}

.work-text-right h3 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-weight: 700;
    color: #9a9aeb;
}

.work-text-right h4 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: 300;
}

.work-text-right p {
    font-size: 0.8em;
    font-weight: 300;
    padding: 10px;
    margin: 10px 0 20px 0;
    background-color: #d9d9f7;
    color: #141414;
    box-shadow: -10px 10px #d9d9f7cc;
}

.work-text-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Courier New';
    font-size: 1em;
    font-weight: 300;
}

.work-text-right ul li {
    float: right;
    display: block;
    color: #d9d9f7;
    text-align: center;
    padding-left: 10px;
    text-decoration: none;
}


.work-links-right a {
    padding: 0 6px;
}

.work-links-right {
    padding-top: 10px;
}

.work-item-right {
    padding: 40px 0;
}

.work-image-left {
    width: 50%;
    margin-left: auto;
}

.work-image-left img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    overflow: hidden;
}

.work-text-left {
    text-align: left;
    position: absolute;
    top: inherit;
    margin-right: 40%;
}

.work-text-left h3 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-weight: 700;
    color: #9a9aeb;
}

.work-text-left h4 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: 300;
}

.work-text-left p {
    font-size: 0.8em;
    font-weight: 300;
    padding: 10px;
    margin: 10px 0 20px 0;
    background-color: #d9d9f7;
    color: #141414;
    box-shadow: 10px 10px #d9d9f7cc;

}

.work-text-left ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Courier New';
    font-size: 1em;
    font-weight: 300;
}

.work-text-left ul li {
    float: left;
    display: block;
    color: #d9d9f7;
    text-align: center;
    padding-right: 10px;
    text-decoration: none;
}

.work-links-left a {
    padding: 0 6px;
}

.work-links-left {
    padding-top: 10px;
}

#footer h2 {
    color: #9a9aeb;
    font-weight: 500;
    font-size: 1em;
    text-align: center;
}

#footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #141414;
}

#footer ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#footer li {
    list-style-type: none;
    display: inline-block; 
}

#footer li a {
    display: block;
    color: #d9d9f7;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
}

#footer li a:hover {
    color: #9CC948;
    cursor: pointer;
}
