body {
    background-color: #141414;
    font-family: 'Helvetica';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #d9d9f7;
    margin: 2% 5%;
    padding: 0;
}

#preloader {
    background: #141414;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#preloader img {
    text-align: center;
}

h2 {
    color: #9a9aeb;
    font-size: 3em;
    margin: 0;
    padding: 0;
}

.header-right {
    text-align: right;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

#navbar img {
    width: 56px;
    height: 56px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 4px;
    left: 4px;
}

#spacer {
    flex-grow: 1;
}

#navbar li {
    float: right;
    font-size: 1.4em;
}

#navbar li a {
    display: block;
    color: #d9d9f7;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
}

#navbar li a:hover {
    color: #9CC948;
    cursor: pointer;
}

#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 60px 0;
}

.about-column h1 {
    font-size: 6em;
    font-weight: 400;
    margin: auto;
    color: #d9d9f7;
}

.about-column p {
    font-size: 2em;
    font-weight: 300;
    margin: auto;
}

.subtitle-sentence {
    font-size: 1.5em
}

.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-bottom: 60px;
}

.skills-item h3 {
    text-align: right;
    font-size: 1.5em;
    font-weight: 300;
    margin: auto;
    height: 60px;
    color: #9a9aeb
}

.skills-item ul li {
    font-size: 1.4em;
}

.work-item-left, .work-item-right {
    padding: 40px 0;
    padding-bottom: 80px;
    position: relative;
    top: 0;
}

.work-image-left, .work-image-right {
    width: 50%;
}

.work-image-left {
    margin-left: auto;
}

.work-image-right {
    margin-right: auto;
}

.work-image-right img, .work-image-left img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    overflow: hidden;
}

.work-text-left, .work-text-right {
    position: absolute;
    top: 10%;
}

.work-text-right {
    text-align: right;
    margin-left: 40%;
}

.work-text-left {
    text-align: left;
    margin-right: 40%;
}

.work-text-right h3, .work-text-left h3 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-weight: 700;
    color: #9a9aeb;
}

.work-text-right h4, .work-text-left h4 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: 300;
}

.work-text-right p, .work-text-left p{
    font-size: 1.4em;
    font-weight: 300;
    padding: 10px;
    margin: 10px 0 20px 0;
    background-color: #d9d9f7;
    color: #141414;
}

.work-text-left p {
    box-shadow: 10px 10px #d9d9f7cc;
}

.work-text-right p {
    box-shadow: -10px 10px #d9d9f7cc;
}

.work-text-right ul, .work-text-left ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Courier New';
    font-size: 1em;
    font-weight: 300;
}

.work-text-left ul li, .work-text-right ul li {
    display: block;
    color: #d9d9f7;
    text-align: center;
    text-decoration: none;
}

.work-text-right ul li {
    float: right;
    padding-left: 20px;
}

.work-text-left ul li {
    float: left;
    padding-right: 20px;
}

.work-links-right, .work-links-left {
    padding-top: 10px;
}

.work-links-right a, .work-links-left a {
    padding: 0 6px;
}

.work-links-right a img:hover, .work-links-left a img:hover{
    filter: invert(91%) sepia(7%) saturate(4737%) hue-rotate(25deg) brightness(103%) contrast(58%);
    cursor: pointer;
}

#footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#footer h2 {
    color: #9a9aeb;
    font-weight: 500;
    font-size: 1em;
    text-align: center;
}

#footer ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#footer li {
    list-style-type: none;
    display: inline-block; 
}

#footer li a {
    display: block;
    color: #d9d9f7;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
}

#footer li a:hover {
    color: #9CC948;
    cursor: pointer;
}

/* for medium sized screens */
@media only screen and (max-width: 2000px) {
    .work-text-right p, .work-text-left p {
        font-size: 1em;
    }

    .about-column h1 {
        font-size: 5em;
    }
    
    .about-column p {
        font-size: 1.5em;
    }

    .subtitle-sentence {
        font-size: 1.2em
    }
}

/* for small sized screens */
@media only screen and (max-width: 1200px) {
    .skills-container {
        grid-template-columns: 1fr 1fr;
    }

    .work-text-right p, .work-text-left p {
        font-size: 0.8em;
    }

    .about-column h1 {
        font-size: 3em;
    }
    
    .about-column p {
        font-size: 1em;
    }

    .subtitle-sentence {
        font-size: 1em
    }
}

/* for extra small screens */
@media only screen and (max-width: 750px) {
    .skills-container {
        grid-template-columns: 1fr;
    }

    #about {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 60px 0;
    }
    
    .work-image-right, .work-image-left {
        width: 100%;
        padding-bottom: 10px;
    }
    
    .work-image-right img, .work-image-left img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        display: block;
        overflow: hidden;
    }

    .work-text-right, .work-text-left {
        text-align: left;
        position: static;
    }
    
    .work-text-right {
        margin-left: 0;
    }

    .work-text-left {
        margin-right: 0;
    }

    .work-text-right p, .work-text-left p {
        font-size: 1.2em;
    }
    
    .work-text-right ul li, .work-text-left ul li {
        float: left;
        display: block;
        color: #d9d9f7;
        text-align: center;
        padding-left: 10px;
        text-decoration: none;
    }
}